@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@800&display=swap');

h1{
  background: rgb(124,116,111);
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: rgb(255,255,255);
  margin: 0;
}

h2{
  background: rgb(204,156,124);
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: rgb(255,255,255);
  margin: 0;
}

h3{
  background: rgb(247,220,204);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: rgb(124,116,111);
  margin: auto;
}

body {
    background: rgb(255,255,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: rgb(124,116,111);
    margin: auto;
    padding: 5px;
    max-width: 900px
}

#navigation {
  padding: 5px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

#photography {
  padding: 5px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

#writing {
	padding: 5px;
	margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

#video {
	padding: 5px;
	margin: auto;
}

.grid-container-intro {
  border: 3px solid transparent;
  border-radius: 5px 0px 0px 5px;
  border-width: 3px 3px 3px 3px;
  padding: 5px;
}

.grid-container-header {
  border: 3px solid transparent;
  border-radius: 5px 0px 0px 5px;
  border-width: 3px 3px 3px 3px;
  padding: 5px;
}

.grid-container {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
          "head head2 head3"
          "main main2 main3";

          border: 3px solid transparent;
          border-radius: 5px 0px 0px 5px;
          border-width: 3px 3px 3px 3px;
          padding: 5px;
}


.grid-item {
  border: 3px solid transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom:auto;
  padding: 10px

}

.one {
  grid-column: 1;
  grid-row: 1 / 5;
}
.two {
  grid-column: 2;
  grid-row: 1 / 5;
}
.three {
  grid-column: 3;
  grid-row: 1 / 5;
}


ul {
  font-size: 12px;
}

.logo {
	padding: 10px;
  border: 3px solid transparent;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px

}

.grad {
	padding: 10px;
  border: 3px solid transparent;
  margin-left: auto;
  margin-right: auto;
  max-width: 90px

}

.landscape {
	padding: 10px;
  border: 3px solid transparent;
  margin-left: auto;
  margin-right: auto;
  max-width: 90px

}

.univmiami {
	padding: 10px;
  border: 3px solid transparent;
  margin-left: auto;
  margin-right: auto;
  max-width: 90px

}


table, th, td {
  padding: 10px;
  border: 2px solid rgb(0,80,181);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom:auto;
}


a:link {
  color:rgb(75,0,130);
}

a:visited {
  color: rgb(147,112,219);
}

a:hover {
  color: rgb(230,230,250);
}

a:active {
  color: rgb(172,79,198);
}
