@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@800&display=swap');

body {
    background: rgb(255,255,255);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: rgb(47,79,79);
    margin: 0;
    padding: 10px !important;
}

h1{
  background: rgb(100,149,237);
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: rgb(255,255,255);
  margin: 0;
}

h2{
  background: rgb(100,149,237);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: rgb(255,255,255);
  margin: 0;
}

h3{
  background: rgb(100,149,237);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: rgb(255,255,255);
  margin: 0;
}

/* .spacing{
  padding: 10px
} */

#geography {
	padding: 10px;
	margin: 0;
}

#economy {
	padding: 10px;
	margin: 0;
}

#communications {
	padding: 10px;
	margin: 0;
}

.grid-container {
	border: 5px solid transparent;
}

.grid-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0, 0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

ul {
  font-size: 12px;
}

img {
	padding: 10px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid transparent;
  background-color: rgb(100,149,237);

}

a:link {
  color:rgb(75,0,130);
}

a:visited {
  color: rgb(147,112,219);
}

a:hover {
  color: rgb(230,230,250);
}

a:active {
  color: rgb(230,230,250);
}
