@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@800&display=swap');

h1{
  background: rgb(124,116,111);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255,255,255);
  margin: auto;
  padding: 5px;
}

h2{
  background: rgb(204,156,124);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255,255,255);
  margin: auto;
  padding: 5px;
}

h3{
  background: rgb(247,220,204);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: rgb(255,255,255);
  margin: auto;
  padding: 5px;
}

body {
    background: rgb(255,255,255);
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: rgb(124,116,111);
    margin: auto;
    padding: 5px;
    max-width: 900px
}

#navigation {
  padding: 5px;
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto;
}

#photography {
  padding: 5px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: auto;
}

#writing {
	padding: 5px;
	margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

#video {
	padding: 5px;
	margin: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
}

.grid-container-intro {
  border: 3px solid transparent;
  border-radius: 5px 0px 0px 5px;
  border-width: 3px 3px 3px 3px;
  padding: 5px;
  text-align: center;
}

.grid-container-header {
  border: 0px solid transparent;
  border-radius: 0px 0px 0px 0px;
  border-width: 3px 3px 3px 3px;
  padding: 5px;
}

.grid-container {
  display: grid;
    max-width: 100%;
    column-width: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;


    grid-template-areas:
          "head head2 head3"
          "main main2 main3";

          border: 0px solid transparent;
          border-radius: 0px 0px 0px 0px;
          border-width: 3px 3px 3px 3px;
          padding: 5px;

}

.grid-item {
  border: 3px solid transparent;
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  padding: 5px;

}

.one {
  grid-column: 1;
  grid-row: 1 / 5;
}
.two {
  grid-column: 2;
  grid-row: 1 / 5;
}
.three {
  grid-column: 3;
  grid-row: 1 / 5;
}


ul {
  font-size: 12px;
}

.img {
  max-width: 100px;
  height: auto;
}

.logo {
	padding: 10px;
  border: 3px solid transparent;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;

}

.grad {
	padding: 10px;
  border: 3px solid transparent;
  margin-left: auto;
  margin-right: auto;

}

.landscape {
	padding: 10px;
  border: 3px solid transparent;
  margin-left: auto;
  margin-right: auto;

}

.univmiami {
	padding: 10px;
  border: 3px solid transparent;
  margin-left: auto;
  margin-right: auto;

}

a: {
  color: rgb(204,156,124);
}

a:link {
  color:rgb(75,0,130);
}

a:visited {
  color: rgb(147,112,219);
}

a:hover {
  color: rgb(100, 0, 100);
}

a:active {
  color: rgb(172,79,198);
}
